[alias]
	undo = reset --mixed @~ --
[commit]
	gpgsign = true
	verbose = true
[fetch]
	prune = true
[gpg]
	format = ssh
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[remote "origin"]
	prune = true
[user]
	email = "jason.theiler@example.com"
	name = Jason Theiler
