[alias]
	undo = reset --mixed @~ --
[commit]
	verbose = true
[fetch]
	prune = true
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[remote "origin"]
	prune = true
[user]
	name = Jason Theiler
